 <mat-toolbar color="primary">
    <mat-toolbar-row>    
    <span>Task Tracker v{{ appVersion }}</span>    
        <span class="fill-remaining-space"></span>    
        <span class="align-center"></span>    
        <span class="example-spacer"></span> 
        <button mat-button>About</button>    
        <button mat-button>Contact</button>    
        <button mat-icon-button [matMenuTriggerFor]="menu">    
          <mat-icon>more_vert</mat-icon>    
        </button>    
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">    
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>