<app-top-bar *ngIf="currentUser"></app-top-bar>

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->
<md-content class="md-padding" layout-align="center center">
    <router-outlet></router-outlet>
</md-content>
