<mat-card class="workitem-card">
  <mat-card-header>
    <mat-icon mat-card-avatar class="material-icons">{{ row.type === 'bug' ? 'bug_report' : 'assignment'}}</mat-icon>
    <mat-card-title>{{ row.title }}</mat-card-title>
    <mat-card-subtitle>{{ row.type }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>Identitifer: {{ row.id }}</p>
    <p>Priority: {{ row.priority }}</p>
    <p>Planned execution time: {{ row.plannedExecutionTime }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/workitems">Return to tasks</button>
  </mat-card-actions>
</mat-card>

