<div class="workitems">
    <div class="actionMenu">
      <div class="calendar">
          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dateFormControl" (dateChange)="dateChanged($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="actions">
          <button mat-button color="warn" *ngIf="selection.hasValue()"
            [matBadge]="selection.selected.length" matBadgePosition="before" matBadgeColor="warn" (click)="deleteWorkItems()">
            Delete</button>
          <button mat-stroked-button color="primary" (click)="addWorkItem()">Add new workitem</button>
        </div>
    </div>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="priority">
          <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="plannedExecutionTime">
          <mat-header-cell *matHeaderCellDef> Planned time </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.plannedExecutionTime}} </mat-cell>
        </ng-container>       

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectWorkItem(row)"></mat-row>
    </mat-table>
    <mat-spinner *ngIf="isBusy"></mat-spinner>
</div>

<!-- <app-work-item-detail [row]="selectedRow"></app-work-item-detail> -->
