table {
    width: 100%;
}
.actionMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mat-row:hover {
    background-color: whitesmoke;
}
.mat-row mat-button {
    display: none;
}
.mat-row:hover mat-button {
    display: block;
}
td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0px;
    margin-right: 24px;
}
td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
    margin-left: 24px;
}