<h1 mat-dialog-title>Add new task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="data.type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Priority</mat-label>
    <input matInput [(ngModel)]="data.priority">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Planned execution time</mat-label>
    <input matInput [(ngModel)]="data.plannedExecutionTime">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>